// Cloudflare
account_id = "..."
domain = "www.example.com"
zone_id = "..."
api_token = "..."

// Github
github_token = "..."
repo_owner = "..."
repo_name = "..."
branch = "..."

// Discord
discord_webhook = "..."