const ORIGIN = "${live_origin}";
const SNAPSHOT = "${snapshot_origin}";

export default {
  async fetch(request, env) {
    const url = new URL(request.url);
    
    // Request the live website
    try {
        const live = await fetch(ORIGIN + url.pathname + url.search, request);
        if (live.status < 500 && live.status != 404) {
            return live
        }
    } catch {}

    // If the website is down, request the snapshot version
    const key = url.pathname === "/" ? "/index.html" : url.pathname;
    return fetch(SNAPSHOT + key);
  },
};
